fastapi
uvicorn[standard]
openai
python-multipart
Pillow
python-dotenv
requests
transformers
pandas
scikit-learn
numpy
streamlit
requests
faiss-cpu
langchain
langchain-chroma
langchain-openai
langchain-community
chromadb
uvicorn[standard]
